In [1]:
##Q1=
#i)
r="yes"
type(r)

str

In [21]:
#ii)
l=[1,2,3,4]
type(l)

list

In [22]:
#iii)
o=99.23
type(o)

float

In [23]:
#iv)
t=(9,2,3)
type(t)

tuple

Q2= i) string
    ii) string
    iii) list
    iv) integer

In [9]:
#Q3=i)
# / operator gives division in float no.
30/5

6.0

In [10]:
#Q3=ii)
# % operator divides and give the remainder of the following
43%4

3

In [11]:
#Q3=iii)
## // operator divides but only gives integer value
15//2

7

In [12]:
#Q3=iv)
# ** operator use to give power
3**2

9

In [20]:
#Q4=
l= [12,"ea",(1,2),[43,54],1+2j,22.32,33,"we",99.0,3-4j]
for i in l:
    print(i,type(i))

12 <class 'int'>
ea <class 'str'>
(1, 2) <class 'tuple'>
[43, 54] <class 'list'>
(1+2j) <class 'complex'>
22.32 <class 'float'>
33 <class 'int'>
we <class 'str'>
99.0 <class 'float'>
(3-4j) <class 'complex'>

In [1]:
#Q5= 
a=int(input("enter a number"))
b= int(input("enter a number"))
if a%b==0:
    print("yes")
else :
    print('no')

enter a number6
enter a number7
no

In [7]:
#Q6=

lst=[12,23,24,90,78,4,6,2,18,56,47,88,20,36,45,78,56,73,94,102,27,49,9,20,30]
for i in lst:
    if i%3==0:
        print(i,"divisible by 3")
    else:
        print(i,"not divisible by 3")

12 divisible by 3
23 not divisible by 3
24 divisible by 3
90 divisible by 3
78 divisible by 3
4 not divisible by 3
6 divisible by 3
2 not divisible by 3
18 divisible by 3
56 not divisible by 3
47 not divisible by 3
88 not divisible by 3
20 not divisible by 3
36 divisible by 3
45 divisible by 3
78 divisible by 3
56 not divisible by 3
73 not divisible by 3
94 not divisible by 3
102 divisible by 3
27 divisible by 3
49 not divisible by 3
9 divisible by 3
20 not divisible by 3
30 divisible by 3

In [10]:
# Q7=
'''Mutable Data Types:- Mutable data types are those which have a property to being updated after being
initialized and object's ability to modify it's value.Some examples of Mutable Data are "List" and "Dictionary". '''
#example:- take a list
r=[12,34,45,90,45,65]
r[2]=43
print(r)
#this example shows that the value of 3rd position in list gets changed.

'''Immutable Data types:- Immutable Data types are those who doesn't have ability to modify or update it's 
value after being initialized. Some of the examples of Immutable data types are "int","float","bool","strings","tuples"etc. '''
#for example:- lets assign a string 
p="doctor"
p[2]="i"
print(p)
#the error shown below shows that it doesn't assign new value.

[12, 34, 43, 90, 45, 65]

TypeError: 'str' object does not support item assignment